---
import { buttonVariants } from '@/components/ui/button'
import { ArrowLeft } from 'lucide-react'
---
<a href="/" class={buttonVariants({ variant: 'secondary' })}>
    <ArrowLeft /> Back to Home</a>
</a>