@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Geist';
      font-style: normal;
      font-weight: 400;
      font-display: block; 
      src: url('/fonts/Geist-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Geist';
      font-style: normal;
      font-weight: 600;
      font-display: block; 
      src: url('/fonts/Geist-Bold.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Geist';
      font-style: normal;
      font-weight: 200;
      font-display: block; 
      src: url('/fonts/Geist-Light.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Zodiak';
      font-style: normal;
      font-weight: 400;
      font-display: block; 
      src: url('/fonts/Zodiak-Variable.ttf') format('truetype');
    }
  }