---
import { Image } from 'astro:assets';
import { BoxesIcon, BriefcaseIcon } from 'lucide-react'
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card'
import { buttonVariants } from '@/components/ui/button'
import Marquee from '@/components/ui/marquee'

import PortfolioPageImg from "@/assets/images/portfolio_page.webp";
import ComingSoonImg from "@/assets/images/comingsoon.webp"

const images = [
    { src: PortfolioPageImg },
    { src: ComingSoonImg },
    { src: ComingSoonImg },
]
---
<Card className='dark'>
    <CardHeader>
        <CardTitle className='flex gap-4 items-center text-3xl'>
            <BriefcaseIcon size={36} className='text-primary-400' />
            <h3>Projects</h3>
        </CardTitle>
    </CardHeader>
    <CardContent className='relative pb-6 flex justify-center items-center'>
        <Marquee vignette className='relative items-center'>
        {images.map(({ src }) => (
            <Image class='h-24 w-full rounded-xl' src={src} alt='image' />
        ))}
        </Marquee>
        <a href="/projects" data-astro-prefetch class={`absolute inset-x-0 bottom-4 z-50 mx-auto w-fit rounded-xl ${buttonVariants({ variant: 'secondary' })}`}>
            <BoxesIcon />
            View Projects
        </a>
    </CardContent>
</Card>