---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "@/components/ProfileCard/ProfileCard";
import Clock from "@/components/Clock/Clock";
import Colors from "@/components/Colors/Colors";
import About from "@/components/About/About";
import WorkTogether from "@/components/WorkTogether/WorkTogether";
import TechStack from "@/components/TechStack/TechStack";
import Projects from "@/components/Projects/Projects";
---

<Layout>
	<div class="min-h-screen items-center flex justify-center p-4">
		<div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:max-w-5xl">
			<div class="md:col-span-2 h-full motion-preset-slide-down-sm md:motion-preset-slide-down-md motion-delay-200">
				<ProfileCard />
			</div>
			<div class="md:col-start-3 md:row-start-1 md:row-span-2 motion-preset-slide-down-sm md:motion-preset-slide-left motion-delay-300">
				<About />
			</div>
			<div class="flex flex-col gap-4 md:flex-row md:grid-cols-2 md:row-span-2 md:col-span-2">
				<div class="flex flex-col gap-4 md:w-1/2 motion-preset-slide-down-sm md:motion-preset-slide-right motion-delay-500">
					<div class="order-2 md:order-none flex-grow">
						<Projects />
					</div>
					<Colors client:load />
				</div>
				<div class="flex flex-col gap-4 md:w-1/2 min-w-0 motion-preset-slide-down-sm md:motion-preset-slide-up motion-delay-700">
					<div class="flex-grow">
						<Clock client:load />
					</div>
					<TechStack />
				</div>
			</div>
			<div class="motion-preset-slide-down-sm md:motion-preset-slide-left motion-delay-1000">
				<WorkTogether />
			</div>
		</div>
	</div>
</Layout>
